<!DOCTYPE html>
<html>
<head>
	<title>WDI Instructor Code Challenge</title>
</head>
<body>
	<header>Movie App</header>
	<hr>
	<main>

		<input type="text" id="movie-search-input" placeholder="Enter Movie Title">
		<button id="search">SEARCH</button>
		
		<div id="movie-results">
			<ul id="movie-results-list"></ul>
		</div>

	</main>
	<footer></footer>
</body>
<script type="text/javascript" src="main.js" ></script>
</html>